html {height:100%;}

.ajax-message {
  font-size: 10px; color: #2323b4; min-height: 2em; display: inline-block;
} 

.error-message {
  font-size: 10px; color: red;
}

.fullbody {
  display: flex;
  flex-direction: row;
  margin: 0;
  border: 0;
  overflow: hidden;
  height: 100%;
  /* align-items: stretch; */
  color: #777;
  line-height: 1.6;
}

@media (max-width: 1000px) {
  .fullbody {
    height: auto;
    overflow: auto;
  }
}

#main_menu {
  height: 100%; width: 300px; background-color: #444; overflow-y: auto;
  color: #eee; overflow-x: hidden;
}

#main_menu .title {
  width: 100%; background-color: #eee; color: #444; padding: 30px 30px;
  font-family: fantasy; font-size: 30px; 
}

#main_menu .title span {
  border: 2px solid #333; border-radius: 5px; padding: 1px 3px;
}

#main_menu .menus {
  padding: 30px 0px;
}

#main_menu .s1 {
  padding: 4px 30px; border-bottom: 1px solid #555; 
  margin: 30px 0 10px 0;
}

#main_menu .s1:hover {
  background-color: #494949;
}

#main_menu .s2 {
  padding: 3px 60px; cursor: pointer;
  transition: padding-left 0.5s;
}

#main_menu .s2:hover {
  background-color: #944; padding-left: 80px;
  transition: padding-left 1s;
}

#main_frame {
  padding: 80px 50px; flex: 1; overflow-y: auto;
}

@media (max-width: 1000px) {
  #main_menu {
    width: 100px;
  }
  #main_menu .s1 {
    padding: 1px 15px; font-size: 9px;
  }
  #main_menu .s2 {
    padding: 3px 25px; font-size: 8px;
  }
  #main_menu .s2:hover {
    padding-left: 16px;
  }
  #main_menu .title {
    padding-left: 10px; font-size: 15px;
  }
}

table {
  width: 100%;
}

.button-primary,
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white; border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-wide {
  width: 100px;
}

.button-primary {
  background: #0078e7;
}

.button-success {
  background: rgb(28, 184, 65); 
}

.button-error {
  background: rgb(202, 60, 60); 
}

.button-warning {
  background: rgb(223, 117, 20);
}

.button-secondary {
  background: rgb(66, 184, 221);
}

.table_row_click {
  border: 5px solid #999;
  border-width: 0 5px;
}

.table_row_click td {
  background-color: #f5b636;
  color: #1b0867;
}

table tbody tr:hover {
  border: 2px solid #999;
  border-width: 0 2px;
}

.html_template {
  display: none;
}

.select_yn_dialog {
  position: fixed; top: 30%; left: 20%;
  width: 40%; height: 130px;
  background-color: #fff; padding: 80px 120px;
  border-radius: 15px; box-shadow: 5px 5px 15px #888888;
  transition: top 0.5s;
}

.select_yn_dialog.move {
  top: 31%;
}

.select_yn_dialog .pure-button-group {
  text-align: right; margin-top: 50px;
}

@media (max-width: 800px) {
  .select_yn_dialog {
    left: 3px; width: 95%; padding: 30px 10px; top: 20px;
  }
  .select_yn_dialog.move {
    top: 25px;
  }
}

.mask_for_dialog {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #333; opacity: 0.2;
}